.orphusTable {
	text-align: center;
}
.orphusTable thead tr{
	background-color: #F2F2F2;
}
.orphusTable thead td{
	cursor: pointer;
}
.orphusTable tbody tr:hover {
	background-color: rgba(96, 169, 212, 0.3);
}
.orphusTable tbody tr:hover td{
	background-color: rgba(96, 169, 212, 0.3);
	border: 1px solid #fff;
}
.orphusTable tbody tr:hover a{
	color: #000;
}
.orphusTable td {
	padding: 7px;
	border: 1px solid #e1e1e1;
}
.orphusMark {
	background-color: rgba(211, 63, 84, 0.5);
	color: #000;
}
.orphusTable thead tr .headerSortUp {
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.23.3/css/images/black-asc.gif) !important;
    background-repeat: no-repeat;
    background-position: center 95%;
}
.orphusTable thead tr .headerSortDown {
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.23.3/css/images/black-desc.gif) !important;
    background-repeat: no-repeat;
    background-position: center 95%;
}