@media (min-width: 768px) {
    img.rura404 {
        position: fixed;
    }
}
@media (min-width: 992px) {
    img.rura404 {
        position: fixed;
        top: 230px;
        margin-left: 180px;
    }
}
@media (min-width: 1200px) {
    img.rura404 {
        position: fixed;
        top: 190px;
        margin-left: 390px;
    }
}