.bold {
    font-weight: bold;
}
body {
    min-width: 340px;
    color: rgb(77,77,77);
}
.clear-both {
    clear: both;
}
.italic {
    font-style: italic;
}
.red {
    color: rgb(211,63,84);
}
/* --------------- header --------------*/
header{
    width: 100%;
    height: 100px;
    background: rgb(96,169,212);
}
.container {
    /*max-width: 990px;*/
    overflow: hidden;
}
.logos {
    float: left;
}
.firstLogo{
    background: url(../img/logo1.png);
    width: 251px;
    height: 65px;
    margin-top: 17.5px;
    float: left;
}
.secondLogo{
    background: url(../img/logo2.png) no-repeat 6px 50px rgb(143,213,254);
    width: 200px;
    height: 195px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
}
.navbar-brand{
	height: 100px;
}
.regButtons {
    float: right;
    margin-top: 30px;
}
.btn {
    border-style: none;
}
.btn-border {
    border-style: solid;
    padding: 5px 11px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.input-group.sharp  .form-control, .input-group.sharp  .btn, .btn.sharp{
  border-radius:0;
}
input[type="text"]{
background-color: #F2F2F2;
border: none;
}
.btn.outline {
}
.btn-white{
    color: rgb(96,169,212);
    background-color: #fff;
}
.btn-white:hover{
    color: #333;
    background-color: #F2F2F2;
}
.btn-outline{
    color: #fff;
    border: 1px solid #fff;
    background: none;
    padding: 5px 11px;
}
.btn-outline:hover{
    color: #60A9D4;
    background-color: #fff;
}
.btn-primary {
  background-color: #60A9D4;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #358ec2;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #358ec2;
  border-color: #3288ba;
}
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #358ec2;
  background-image: none;
}
.navbar-top {
background-color: #60A9D4;
border-color: #60A9D4;
margin-bottom: 0px;
border: none;
}
.navbar-top .navbar-toggle { border-color: #fff; }
.navbar-top .navbar-toggle .icon-bar { background-color: #fff; }
.navbar-top .navbar-toggle:hover,.navbar-top .navbar-toggle:focus { background-color: #fff; }
.navbar-top .navbar-toggle:hover .icon-bar,.navbar-top .navbar-toggle:focus .icon-bar { background-color: #60A9D4; }
.navbar-lower{
min-height:0;
border: none;
background: #F2F2F2;
}
.navbar-top .navbar-toggle{
    margin-top: 10px;
}
.navbar-top .navbar-form{
	margin-top: 30px;
}
.secondLogoContainer
{
	width:200px;
	margin:-50px auto;
	height:100px;
}
@media (max-width: 1200px) {
    .updBlock > .updTitle {
        width: 45%;
    }
    .updBlock > .updIcon {
        width: 10%;
    }
    .updBlock > .updType {
        width: 25%;
    }
    .updBlock > .updDate {
        width: 20%;
    }
}
@media (max-width: 991px) {
	.navbar-brand {
	height: 75px;
	padding: 7.5px 15px;
	}
	.navbar-brand>img{
	height: 60px;
	}
	.navbar-top .navbar-form{
		margin-top: 22px;
	}
	.secondLogoContainer
	{
		width:200px;
		margin:-55px auto;
		height:75px;
	}
    .displayNone991 {
        display: none;
    }
}
@media (max-width: 767px){
	.navbar-brand {
	height: 55px;
	padding: 5px 10px;
	}
	.navbar-brand>img{
	height: 45px;
	}
    .right-sidebar {
        margin: auto;
        width: 220px;
        margin-top: 15px;
    }
}
@media (min-width: 768px){
	.navbar-lower .navbar-collapse{
	padding-right: 0;
	padding-left: 0;
	}
	.navbar-lower .navbar-nav>li>a {
	padding: 0 0 2px;
	margin: 12.5px 10px 0;
	}
	.navbar-lower .navbar-nav>li:hover>a,.navbar-lower .navbar-nav>li.active>a {
	background: none;
	border-bottom: 1px dashed #777;
	}
}
@media (max-width: 445px){
    .updDate {
        display: none;
    }
    .updates > .updBlock > .updTitle {
        width: 55%;
        padding: 10px 0;
    }
    .updates > .updBlock > .updType {
        width: 35%;
    }
}
/* --------------------------after header--------------------------*/
.afterHead {
    width: 100%;
    height: 45px;
    background: rgb(242,242,242);
    z-index: 2;
    position: relative;
}
.afterHeadContent {
    width: 960px;
    margin: auto;
}
.afterHeadContent > .menu {
    float: left;
    margin-top: -32px;
}
.afterHeadContent > .menu > a {
    color: rgb(133,133,133);
    margin-right: 20px;
}
.afterHeadContent > .menu > a:hover {
    text-decoration: none;
    border-bottom: 1px dashed rgb(133,133,133);
    padding-bottom: 3px;
}
.afterHeadContent > .menu > a:first-child {
    border-bottom: 1px dashed rgb(133,133,133);
    padding-bottom: 3px;
}
.broadcast {
    float: right;
    margin-top: -40.5px;
}
.broadcast > a:hover {
    color:#fff !important;
    text-decoration: none !important;
}
.broadcast > a {
    color: #fff !important;
}
.translation {
    padding: 8px 12px;
    background: rgb(211,63,84);
    border-radius: 5px;
    margin-right: 5px;
    float: left;
    font-weight: bold;
}
.vk {
    padding: 8px 12px;
    border-radius: 5px;
    float: left;
    font-weight: bold;
    background: rgb(96,169,212);
    text-transform: uppercase;
}
.rss {
    background: rgb(96,169,212);
    padding: 8px 12px;
    border-radius: 5px;
    margin-left: 5px;
    float: right;
}
/* -------------------- Content -------------------------*/
#twitter-widget-0 {
    width: 230px !important;
    margin-top: 20px !important;
    height: 400px;
    position: relative !important;
}
.content > .h3 {
    color: rgb(96,169,212);
}
.middle {
    width: 100%;
    position: relative;
}
.middle:after {
    display: table;
    clear: both;
    content: '';
}
@media (min-width: 768px){
	.leftColumn {
		width: 100%;
		float: left;
		overflow: hidden;
		padding: 0 !important;
	}
	.content {
		padding: 0 240px 0 0;
	}
	.right-sidebar {
		float: left;
		width: 220px;
		margin-left: -220px;
		position: relative;
	}
}
footer {
    margin-top: 20px;
}
.footer {
    max-width: 1200px;
    min-height: 100px;
    background: rgb(242,242,242);
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    padding: 43px;
    width: 100%;
}
.footer > a {
    color: rgb(93,93,93);
    margin-right: 10px;
}
.footer > a:hover {
    color: rgb(93,93,93) !important;
}
.wrapper {
    width: 960px;
    margin: 45px auto;
}
.search {
    margin-top: 20px;
}
.sInput {
    width: 615px;
    height: 40px;
    background: rgb(242,242,242);
    border: none;
    padding-left: 10px;
}
.sButton {
    width: 65px;
    text-align: center;
    height: 40px;
    border: none;
    background: rgb(96,169,212);
    color: #fff;
    font-size: 18px;
    position: absolute;
}
.project {
    margin-bottom: 40px;
}
.project a{
margin: 1.5px;
display: inline-block;
}
.poster {
    width: 120px;
    float: left;
    margin-right: 20px;
}
.projectBlock {
    width: 120px;
    height: 200px;
    margin-right: 20px;
}
.prjBlockAbout {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    height: 35px;
    color: #FFF;
    font-weight: bold;
    padding: 7.5px 20px;
    position: relative;
    margin-top: -35px;
    text-align: center;
}
.prjBlockAbout.darkRed {background: rgb(133,32,49)}
.prjBlockAbout.green {background: rgb(25,97,125)}
.prjBlockAbout.yellow {background: rgb(211,164,2)}
.prjBlockAbout.violet {background: rgb(114,100,155)}
.prjBlockAbout.orange {background: rgb(219,140,132)}
.project > .all, .updates > .all {
    float: right;
    color: rgb(133,133,133);
    text-decoration: none;
    border-bottom: 1px dashed rgb(133,133,133);
    padding-top: 10px;
    margin-right: 0.64pc;
}
.project > .all:hover, .updates > .all:hover,
.project > .all:active, .updates > .all:active,
.project > .all:focus, .updates > .all:focus {
    text-decoration: none;
    color: rgb(133,133,133);
}
.project.width220 > div > .prjBlockAbout {
    width: 220px !important;
}
.project.width220 {
    margin-bottom: 0 !important;
}
.projectBlock.type2 {
    width: 220px !important;
    height: 85px !important;
    margin: 10px 0 0 0 !important;
}
/* ----------- index/updates -----------*/
.updBlock {
    margin-bottom: 2px;
    height: 40px;
}
.updIcon {
    width: 65px;
    height: 40px;
    background-color: rgb(217,238,250) !important;
    float: left;
}
.updIcon.type1 {background: url("../img/updIcons/icon1.png") no-repeat scroll 50% 12px;}
.updIcon.type2 {background: url("../img/updIcons/icon2.png") no-repeat scroll 50% 12px;}
.updIcon.type3 {background: url("../img/updIcons/icon3.png") no-repeat scroll 50% 12px;}
.updIcon.type4 {background: url("../img/updIcons/icon4.png") no-repeat scroll 50% 12px;}
.updDate {
    width: 100px;
    height: 40px;
    float: left;
    background: rgb(184,226,250);
    text-align: center;
    padding-top: 10px;
}
.updTitle {
    width: 42em;
    height: 40px;
    background: none repeat scroll 0% 0% #D9EEFA;
    float: left;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding: 10px;
}
.updTitle > a {
    color: rgb(77,77,77) !important;
}
.updTitle > a:hover {
    text-decoration: none;
    border-bottom: 1px dashed rgb(133,133,133);
    padding-bottom: 2px;
}
.updType {
    width: 140px;
    height: 40px;
    background: rgb(184,226,250);
    float: left;
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
}
.updPaginator {
    padding-top: 10px;
}
.updPaginator > a {
    color: rgb(110,110,110);
    margin-right: 3px;
}
.updPaginator > a.active {
    text-decoration: underline;
}
/* -------- loginBlock -----------*/
.loginBlock {
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
}
.loginBlock > div {
    height: 320px;
    width: 270px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    opacity: 1;
    margin: 15em auto auto;
    border-radius: 10px;
}
.loginContent {
    width: 100%;
    height: 235px;
    background: rgb(69,169,212);
    border-radius: 8px 8px 0px 0px;
}
.loginInput, .passwordInput {
    width: 230px;
    height: 40px;
    margin: auto;
    margin-bottom: 10px;
    color: rgb(124,124,124)
}

.loginInput > div,
.passwordInput > div {
    width: 50px;
    text-align: right;
    height: 40px;
    float: left;
    background: #fff;
    color: rgb(199,199,199);
    border-radius: 5px 0 0 5px;
    padding-top: 10px;
}
.loginInput > input,
.passwordInput > input {
    width: 180px;
    height: 40px;
    background: #fff;
    border: 0;
    border-radius: 0 5px 5px 0;
}
.passwordInput > div {
    width: 60px !important;
}
.passwordInput > input {
    width: 170px;
}
.resetPass {
    position: relative;
    float: right;
    margin-top: -34px;
    margin-right: 23px;
}
.resetPass > a {
    color: #fff !important;
    text-decoration: underline;
}
.loginContent > input[type="checkbox"] {
    border: 0;
    border-radius: 2px;
    background: #fff;
}
button.enter {
    width: 230px;
    height: 40px;
    border-radius: 5px;
    background: #fff;
    color: rgb(148,194,224);
    border: 0;
    font-size: 17px;
}
button.loginClose {
    width: 20px;
    height: 20px;
    background: none repeat scroll 0% 0% #FFF;
    position: absolute;
    border-radius: 5px;
    border: 0px none;
    margin-left: 275px;
    color: #4BA7E3;
    padding-left: 5.3pt !important;
    padding-top: 0px;
}
.loginFooter {
    width: 270px;
}
.loginFooter > div {
    text-align: center;
    margin: auto;
    color: rgb(107,107,107);
    margin-top: 22px;
}
.loginFooter > div > a {
    color: rgb(96,169,212) !important;
    text-decoration: underline;
}
/*.modal-backdrop {
    position: fixed;
    background-color: #000;
    height: 100%;
    opacity: 0.6;
    z-index: 99;
}*/
/* --------------- login ------------*/
.enterError {
    background: none repeat scroll 0% 0% #F2F2F2;
    color: #D76170;
    height: 60px;
    font-size: 13px;
    line-height: 20px;
    padding-top: 9px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.userError {
    width: 95px;
    height: 60px;
    float: left;
    background: url(../img/peopleIcon.png) no-repeat 54% 13px;
}
.form-control.login, .form-control.password, .loginCheckbox {
    width: 285px;
    margin-left: 17pc;
}
.logButton {
    margin-right: 8.2pc;
    width: 100px;
    background: rgb(229,229,229);
    border: 0;
    color: rgb(77,77,77);
}
/* --------------- updates ------------------ */
.updSearch {
    margin-bottom: 15px;
    line-height: 30px;
}
.updSearch > .bold {
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.updPaginator {
    padding-top: 5px;
    font-size: 12.5px;
    padding-bottom: 10px;
}
.updSearch > a {
    padding: 5px 10px 5px 37.5px;
    color: rgb(93,93,93);
    text-decoration: none !important;
}
.updPaginator > a > i, .disabled > i {
    font-size: 10px !important;
}
.updSearch > a.active {
    color: #fff !important;
}
.updSearch > .first.active {
    background: rgb(96,169,212) url(../img/updIcons/all_active.png) no-repeat 10.5px !important;
}
.updSearch > .second.active {
    background: rgb(96,169,212) url(../img/updIcons/icon2_active.png) no-repeat 10.5px !important;
}
.updSearch > .third.active {
    background: rgb(96,169,212) url(../img/updIcons/icon3_active.png) no-repeat 10.5px  !important;
}
.updSearch > .fourth.active {
    background: rgb(96,169,212) url(../img/updIcons/icon1_active.png) no-repeat 10.5px !important;
}
.updSearch > .fifth.active {
    background: rgb(96,169,212) url(../img/updIcons/icon4_active.png) no-repeat 10.5px !important;
}
.updSearch > .first {
    background: rgb(242,242,242) url(../img/updIcons/all.png) no-repeat 10.5px;
}
.updSearch > .second {
    background: rgb(242,242,242) url(../img/updIcons/icon2.png) no-repeat 10.5px;
}
.updSearch > .third {
    background: rgb(242,242,242) url(../img/updIcons/icon3.png) no-repeat 10.5px;
}
.updSearch > .fourth {
    background: rgb(242,242,242) url(../img/updIcons/icon1.png) no-repeat 10.5px;
}
.updSearch > .fifth {
    background: rgb(242,242,242) url(../img/updIcons/icon4.png) no-repeat 10.5px;
}
.disabled {
    color: rgb(193,193,193);
    text-decoration: underline;
    margin-right: 4px;
}
.miniSearch {
    margin-top: 20px;
}
.miniSearch > input {
    width: 180px;
    height: 40px;
    background: rgb(242,242,242);
    border: none;
    padding-left: 10px;
}
.miniSearch > button {
    width: 40px;
    text-align: center;
    height: 40px;
    border: none;
    background: rgb(96,169,212);
    color: #fff;
    font-size: 18px;
    position: absolute;
}
/*.list-group.select{
	max-height: 300px;
	overflow-y: auto;
}*/
.move.fa.fa-ellipsis-v {
	padding: 0 5px 0 10px;
}
.move{
	cursor: move;
}
.list-group.select .list-group-item.heading:first-child .move{
	cursor: default;
}
.list-group.select .list-group-item
{
	padding: 10px 5px;
}
.list-group.select .list-group-item.heading, .list-group.select .list-group-item.heading:hover, .list-group.select .list-group-item.heading:focus {
	color: #777;
	background-color: #eee;
	padding: 3px 15px;
	font-weight: bold;
	border: 1px solid #dddddd;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.list-group-item img, .list-group-item canvas {
	height: 32px;
	margin: 0 auto;
	max-width: 50px;
}
a.list-group-item center {
	display: inline-block;
	height: 32px;
	width: 50px;
	margin-right: 10px;
	margin-left: 5px;
}
#imageform img{
	max-height: 180px;
	margin: 0 auto;
}
#imageform .panel {
	margin-bottom: 0;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.admin-affix.affix {
	top: 10px;
	left: 50%;
	margin-left: -124px;
}
@media (max-width: 767px) {
	.admin-affix.affix {
		right: 0;
		left: initial;
	}
}
@media (min-width: 768px) {
	.admin-affix.affix {
		width: 340px;
		margin-left: -205px;
}
}
@media (min-width: 992px) {
	.admin-affix.affix {
		width: 487px;
		margin-left: -242px;
	}
}
@media (min-width: 1200px) {
	.admin-affix.affix {
		width: 620px;
		margin-left: -276px;
	}
}


#imageselect{
min-height: 340px;
}
.dragover #imageselect::before {
content: 'Добавить файлы';
position: absolute;
top: 0px;
bottom: 20px;
left: 15px;
right: 15px;
opacity: 0.9;
padding-top: 50px;
background: white;
border: 5px dashed #777;
text-align: center;
font-size: 30px;
font-weight: 500;
color: #777;
z-index: 3;
}
.dragover .image-data-main::before,.dragover .image-data-color::before {
content: 'Заменить файл';
position: absolute;
top: 15px;
height: 305px;
left: 5px;
right: 5px;
padding-top: 129px;
opacity: 0.9;
background: white;
border: 5px dashed #777;
text-align: center;
font-size: 30px;
font-weight: 500;
color: #777;
z-index: 3;
}
.dragover .image-data-main.hover::before,
.dragover .image-data-color.hover::before,
.dragover #imageselect.hover::before {
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
opacity: 1;
border-color: #60a9d4;
color: #60a9d4;
}

#imageform .progress {
	margin: 5px 0;
}

#btn-image-add,.btn-image-replace {
  position: relative;
  overflow: hidden;
}
.fileupload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
/* ------------------------- faq -------------------- */
center.project {
    margin-bottom: 4px;
}
.color110 {
    color: rgb(110,110,110);
}
.faqContent {
    background: rgb(242,242,242);
    width: 100%;
    height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    color: rgb(77,77,77);
    margin-bottom: 25px;
}
.panel-heading {
    background: rgb(202,233,252);
    border: 1px solid rgb(67,186,255) !important;
    border-radius: 0;
}
.panel-heading > h4 > a > div {
    color: rgb(77,77,77);
    font-size: 10pt;
    text-decoration: underline;
}
.panel-heading > h4 > a:hover {
    text-decoration: none;
}
.color110 {
    color: rgb(110,110,110);
}
.answer > .h4 {
    color: #60A9D4;
    font-size: 17px;
}
.answer {
    color: rgb(94,94,94);
    margin-bottom: 25px;
    margin-top: 20px;
}
.panel-heading.gray {
    background: rgb(242,242,242);
    border-style: dashed !important;
}
.h4.gray {
    color: rgb(77,77,77);
}
textarea[class="form-control"] {
    margin: 0px;
    max-height: 85px;
    min-height: 85px;
    font-size: 16px !important;
    padding: 11px !important;
    height: 87px;
    max-width: 779px;
    width: 784px;
    background-color: rgb(242, 242, 242);
}
.avatar > div {
    background: rgb(77,77,77);
    margin-right: 10px;
    margin-bottom: -80px;
    height: 80px;
    width: 80px;
}
.timeAgo {
    color: rgb(138,138,138);
}
.name {
    color: rgb(77,77,77);
    margin-right: 10px;
}
.commentAnswer {
    color: rgb(77,77,77);
}
.comment {
    min-width: 80px;
    margin-top: 20px;
}
.avatar {
    height: 100%;
    width: 80px;
}
.commentText {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* -------------------- release ------------------*/
.releaseImg > img {
    max-width: 240px;
    width: 100%;
}
.releaseImg {
    margin-right: 20px;
    margin-bottom: 20px;
}
.nextVolume {
    max-width: 240px;
}
.nextVolume > div > a > i {
    font-size: 11px;
}
.nextVolume > div {
    width: 50%;
    background: rgb(242,242,242);
    min-height: 40px;
    float: left;
    padding-top: 11px;
}
.nextVolume > div > a {
    color: rgb(77,77,77);
}
.aboutRelease {
    color: rgb(77,77,77);
}
.read > a > div {
    border-bottom: 1px solid rgb(231,231,231);
    height: 28px;
    margin-bottom: 5px;
}
.read > a {
    color: rgb(77,77,77);
    width: 100%;
}
aside > .actions > div:hover {
    background: rgb(231,231,231) no-repeat 5% 50%;
}
.actions > div {
    padding: 5px 5px 5px 35px;
    width: 100%;
    background: no-repeat scroll 5% 50% #F2F2F2;
    margin-bottom: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.actions > div > a {
    color: rgb(77,77,77);
}
.actions > div > a:hover {
    text-decoration: none;
    border-bottom: 1px dashed rgb(77,77,77);
}
.download {
    color: #60A9D4 !important;
    border-bottom: 0 !important;
}
a.more {
    float: right;
    color: rgb(133,133,133);
    text-decoration: none;
    border-bottom: 1px dashed rgb(133,133,133);
}
.actions {
    margin-bottom: 20px;
}
.h4 + div > a {
    margin-bottom: 10px;
}
/* -------------- project ------------*/
.ranobeList > div > .pull-left {
    font-size: 13px;
    background: rgb(231,231,231);
    width: 55px;
    text-align: center;
    margin-right: 5px;
}
.ranobeList > div:hover {
    background: rgb(242,242,242);
}
.ranobeList > div {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid rgb(231,231,231);
    padding-top: 10px;
/*
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
*/
}
main > .ranobeList > div:last-child {
    border-bottom: none;
}
.ranobeList > div > a {
    color: rgb(77,77,77);
}
main > .ranobeList > div > a:hover {
    color: #60A9D4;
}
.h3.project {
    margin-bottom: 0px;
    margin-top: 35px;
}
/* ---------------------- all_projects ----------- */
.view {
    color: rgb(77,77,77);
    padding-top: 5px;
    padding-right: 5px;
}
button.view1 {
    border: 0;
    background: rgb(242,242,242) no-repeat 50%;
    background-image: url(../img/view1.png);
    width: 35px;
    height: 30px;
}
button.view2 {
    border: 0;
    background: rgb(242,242,242) no-repeat 50%;
    background-image: url(../img/view2.png);
    width: 35px;
    height: 30px;
    margin-left: -4px;
}
div > button.view1.active {
    background: rgb(96,169,212) url(../img/view1.active.png) no-repeat 50%;
}
div > button.view2.active {
    background: rgb(96,169,212) url(../img/view2.active.png) no-repeat 50%;
}
.viewType1 {
    max-width: 214px;
    margin: 10px 10px 10px 0px;
    line-height: 20px;
    float: left;
}
.viewType1 > div > .stateGreen {
    width: 50%;
    text-align: center;
    background: rgb(147, 194, 42);
    color: rgb(255, 255, 255);
    padding: 4px;
    float: left;
}
.viewType1 > div > .stateRed {
    width: 50%;
    text-align: center;
    background: rgb(220, 93, 72);
    color: rgb(255, 255, 255);
    padding: 4px;
    float: left;
}
.viewType1 > div > .moreAboutProject {
    width: 50%;
    text-align: center;
    background: rgb(242,242,242);
    padding: 4px;
    float: right;
}
.viewType1 > div > .moreAboutProject > a {
    color: rgb(77,77,77);
}
.viewType1 > a > img {
    margin-bottom: 6px;
}
.viewTypeBlock2 {
    display: none;
    margin-bottom: 40px;
 }
.viewType2 {
    margin: 10px 0px;
    border-bottom: 1px solid rgb(242,242,242);
}
.viewType2 > a > img {
    margin-right: 10px;
    margin-top: 5px;
}
.viewType2about {
    margin-top: -75px;
    width: 120px;
    background: rgb(147, 194, 42);
    text-align: center;
    height: 75px;
    color: #fff;
}
.viewType2about > .volumes {
    padding-top: 45px;
    background: url(../img/updIcons/icon2_active.png) no-repeat 50% 40%;
}
.viewTypeBlock2 > .moreAboutProject {
    width: 120px;
    text-align: center;
    background: rgb(242,242,242);
    padding: 5px;
    margin-top: -10px;
}
.viewTypeBlock2 > .moreAboutProject > a {
    color: rgb(133,133,133);
}

/* --------------------------------participants---------------------------- */
/*#participantselect{
min-height: 340px;
}*/
.dragover #participantselect::before {
content: 'Добавить файлы';
position: absolute;
top: 0px;
bottom: 20px;
left: 15px;
right: 15px;
opacity: 0.9;
padding-top: 50px;
background: white;
border: 5px dashed #777;
text-align: center;
font-size: 30px;
font-weight: 500;
color: #777;
z-index: 3;
}
.dragover .participant-data-main::before,.dragover .participant-data-color::before {
content: 'Заменить файл';
position: absolute;
top: 15px;
height: 305px;
left: 5px;
right: 5px;
padding-top: 129px;
opacity: 0.9;
background: white;
border: 5px dashed #777;
text-align: center;
font-size: 30px;
font-weight: 500;
color: #777;
z-index: 3;
}
.dragover .participant-data-main.hover::before,
.dragover .participant-data-color.hover::before,
.dragover #participantselect.hover::before {
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
opacity: 1;
border-color: #60a9d4;
color: #60a9d4;
}

#participantform .progress {
	margin: 5px 0;
}

#btn-participant-add,.btn-participant-replace {
  position: relative;
  overflow: hidden;
}

#participantform .panel {
    margin-bottom: 0px;
    border: medium none;
    box-shadow: none;
}

/* ------------------------------ styles for typeahead --------------------------- */
.tt-menu {
		width: 422px;
		margin: 12px 0px;
		padding: 8px 0px;
		background-color: #FFF;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 8px;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	}
.tt-menu, .gist {
		text-align: left;
}
.tt-suggestion {
		padding: 3px 20px;
		font-size: 18px;
		line-height: 24px;
}


/* text.html */
.controlText{
  width: 50px;
  height: 350px;
  display: inline-block;
  position: fixed;
  background: #f2f2f2;
}
.controlText .btn{
  width: 50px;
  height: 50px;
  position: relative;
}
.text{
  display: inline-block;
  margin-left: 60px;
  white-space: pre-line;
}
.text > .h3 {
    color: rgb(96,169,212);
}
.text .annotation{
    white-space: pre-line;
}
.text > .h4 {
    margin-top:40px;
    margin-bottom: 10px;
}
.text .h4.project{
    color: rgb(96,169,212);
}
.controlText button .hint , .btn-white.OpenContent .hint{
  background: #8fd5fe url('../img/actions/textControl.png') left no-repeat;
  position: fixed;
  padding: 10px 10px 10px 15px;
  margin-left: 40px;
  margin-top: -35px;
  color: #fff;
  font-weight: bold;
  display: none;
  border-top:5px solid #f2f2f2;
  border-bottom:5px solid #f2f2f2;
}
.OpenContent{
  height: 35px;
  line-height: 17px;
  color: #fff;
}
.OpenContent:hover{
    color:rgb(96, 169, 212);
}
.OpenContent.btn-white{
  color: rgb(96,169,212) !important;
}
div.mistake{
    padding: 20px;
    background: #fff;
    width: 510px;
    height: 250px;
    position: fixed;
    top: 40%;
    left: 40%;
    margin-top: -105px;
    margin-left: -245px;
    z-index: 11;
    display: none;
}
div.mistake h4 {
    color: rgb(96,169,212);
}
div.mistake .MistakeText{
    color: rgb(96,169,212);
    text-decoration: underline;
}
div.mistake textarea{
    width: 100%;
    height: 40px;
    max-height: 40px;
    background-color: rgb(242, 242, 242);
    border: none;
}
div.mistake .grey {
    color: #c6c6c6;
    font-size: 12px;
}
div.mistake .sendText{
    display: inline-block;
    white-space: pre-line;
    width: 270px;
}
div.mistake button {
    margin-bottom: 20px;
}
div.overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}
.module{
    width: 100%;
}
.module_name{
    color:rgb(77,77,77);
    cursor: pointer;
}
.actions ul {
  list-style: none;
  padding-left: 20px;
}
.content-module{
    background: #fff;
}
.ContentNav > li > a {
  padding: 5px 10px !important;
}
.ContentNav {
  background: #4baac8;
}

.ContentNav a {
  color: black;
}

.ContentNav li a:hover,
.ContentNav li a:focus {
  background: #8fd5fe;
  color:#fff;
}

.ContentNav{
    background: #fff;
}
.ContentNav .active {
  font-weight: bold;
  color:#000;
}
.ContentNav .active a{
  font-weight: bold;
  color:#000;
}
.ContentNav .active .ContentNav {
  display: block;
}

.ContentNav .ContentNav a {
  font-weight: normal;
  font-size: .85em;
}

.ContentNav .ContentNav .active a,
.ContentNav .ContentNav .active:hover a,
.ContentNav .ContentNav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}

 .btn-white.OpenContent{
    display: none;
  }
@media screen and (max-width: 767px) {
  .leftColumn.active {
    right: 50%;
    position: relative;
  }
  .content-module {
    right: -50%;
    position: absolute;
    top: 50px;
    width: 50%;
  }
  .content-module.active{
    right: 0;
    display: block !important;
  }
  .content-module.active div{
    display: block !important;
  }
  .btn-white.OpenContent{
    display: block;
    top: 85px;
    left: 20px;
    position: fixed;
    z-index: 10;
  }
  .btn-white.OpenContent.active{
    left: calc(50% + 20px);
  }
}
.content-module div.affix-top {
  position: relative;
}

.content-module div.affix {
  top: 20px;
}

.content-module div.affix,
.content-module div.affix-bottom {
    width: 213px;
}

.content-module div.affix-bottom {
  position: absolute;
}